@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    font-family: Raleway;
}

#alayacare-logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 200px;
}

.container{
    padding: 0px;
}

#main-div{
    padding: 20px;
}

#global-view{
    width: 25%;
}

#container-div{
    display: flex;
    justify-content: center;
}

h4{
    margin-bottom: 20px;
}

#search-bar{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#search-bar input{
    padding: 10px;
    margin-right: 10px;
    width: 100%;
    height: 50px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

#search-bar button{
    height: 50px;
    background-color: #113cca;
}

#table1{
    margin-bottom: 50px;
}

#table-stats{
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top: 117px;
    border: 1px solid rgb(211 211 211);
    justify-content: center;
    display: flex;
    
}

.previous-next-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#footer-section{
    border: 2px solid #ffaa05;
    border-radius: 20px;
    padding: 20px;
    display: flex; 
    justify-content: space-between;
    width: 100%;
}

#left-footer-section{
    margin-right: 0px;
}

#right-footer-section{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#right-footer-section div{
    width: 160px;
    text-align: center;
}
#right-footer-section div p:first-child{
    font-weight: bold;
    font-size: 32px;
    color: #113cca;
}
#right-footer-section div p:last-child{
    font-weight: bold;
    font-size: 20px;
}

#detailed-view-container{
    margin-top: 40px;
    margin-left: 20px;

}

#summary-div{
    border: 2px solid #8B4513;
    border-radius: 10px;
    background-color: rgba(139, 69, 19, 0.2);
    background: repeating-linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 255) 5px, rgba(243, 112, 33, 0.1) 5px, rgba(243, 112, 33, 0.1) 6px);
    padding: 10px;
    margin-top: 24px;
}

#table-stats{
    border: 2px solid rgb(255, 170, 5);
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}

#note-section{
    border: 2px solid rgb(255, 170, 5);
    border-radius: 10px;
    text-align: left;
    margin-left: 10px;
    background: repeating-linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 255) 5px, rgba(219, 172, 143, 0.1) 5px, rgba(243, 112, 33, 0.1) 6px);
    
    padding: 10px;
    margin-top: 20px;
    display: block;
    width: min-content;
    min-width: 100%;
}

#legend{
    border: 2px solid rgb(255, 170, 5);
    border-radius: 10px;
    background: repeating-linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 255) 5px, rgba(219, 172, 143, 0.1) 5px, rgba(243, 112, 33, 0.1) 6px);
    
    padding: 10px;
    margin-top: 20px;
    width: min-content;
    min-width: 100%;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 2280px) {
    #detailed-view-container {
      flex-direction: column;
    }
    #summary-section-and-notes{
        margin-left: 0px;
    }
}