@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    font-family: Raleway;
}

#alayacare-logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 300px;
}

.container{
    padding: 0px;
}

#main-div{
    padding: 20px;
}

#container-div{
    display: flex;
    justify-content: flex-start;
}

h4{
    margin-bottom: 20px;
}

#search-bar{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#search-bar input{
    padding: 10px;
    margin-right: 10px;
    width: 100%;
    height: 50px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

#search-bar button{
    height: 50px;
    background-color: #113cca;
}

#table1{
    margin-bottom: 50px;
}

#footer-section{
    border: 2px solid #ffaa05;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left-footer-section{
    margin-right: 50px;
    width: 200px;
}

#right-footer-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#right-footer-section div{
    width: 120px;
    text-align: center;
}
#right-footer-section div p:first-child{
    font-weight: bold;
    font-size: 32px;
    color: #113cca;
}
#right-footer-section div p:last-child{
    font-weight: bold;
    font-size: 20px;
}

#detailed-view-container{
    margin-top: 95px;
    margin-left: 20px;
    display: flex;
}

#summary-section-and-notes{
    margin-left: 20px;
}

#summary-div{
    border: 2px solid #8B4513;
    background-color: rgba(139, 69, 19, 0.2);
    padding: 10px;
    margin-top: 24px;
}

#note-section{
    border: 2px solid #8B4513;
    background-color: rgba(139, 69, 19, 0.2);
    padding: 10px;
    margin-top: 20px;
}

@media only screen and (max-width: 2280px) {
    #detailed-view-container {
      flex-direction: column;
    }
    #summary-section-and-notes{
        margin-left: 0px;
    }
}